<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> FORGOT PASSWORD </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/images/logo.jpg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div>
          <input id="login" class="fadeIn second" type="email" formControlName="email" type="email" name="email" placeholder="Email" required >
          <div class="error-message" *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched">
            Please enter a valid email.
          </div>
        </div>
        <button type="submit" [disabled]="forgotPasswordForm.invalid">Reset Password</button>
      </form>
      <div class="message-container" *ngIf="message" [ngClass]="{'success': isSuccess, 'error': !isSuccess}">
        {{ message }}
      </div>   
      <!-- Remind Password -->
      <div id="formFooter">
        <a class="underlineHover" href="#" routerLink="/login">Back to Login.</a>
      </div>
      
    </div>
  </div>
  