<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> FORGOT PASSWORD </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/images/logo.jpg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form >
        <input id="login" class="fadeIn second" type="email" name="email" placeholder="Email" required>
        <button type="submit" class="fadeIn fourth" >Reset Password Link</button>
      </form>
      <!-- Remind Password -->
      <div id="formFooter">
        <a class="underlineHover" href="#" routerLink="/login">Back to Login.</a>
      </div>
      
    </div>
  </div>
  