<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>List of Rooms</h2>
          </div>
          <div class="col-sm-6">
            <a
              href="#addRoomsModal"
              [routerLink]="'/benefit/rooms/new'"
              class="btn btn-success"
              data-toggle="modal"
              ><i class="material-icons">&#xE147;</i> <span>Add New </span></a
            >
          </div>
        </div>
      </div>
      <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>SubCategory</th>
            <th>Location</th>
            <th>Capacity</th>
            <th>Maintenance Status</th>
            <th>State</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rooms of roomsList">
            <td>{{rooms.name }}</td>
            <td>{{rooms.type}}</td>
            <td>{{rooms.location}}</td>
            <td>{{rooms.capacity}}</td>
            <td>{{rooms.maintenance_status}}</td>
            <td>
              <ng-container *ngIf="rooms.state === 'Enabled'; else inactiveButton">
                <button type="button" class="btn btn-success">{{ rooms.state }}</button>
              </ng-container>
              <ng-template #inactiveButton>
                <button type="button" class="btn btn-danger">{{ rooms.state }}</button>
              </ng-template>
            </td>
            <td>
              <a href="#editRoomsModal" [routerLink]="'/benefit/rooms/'+ rooms.id" class="edit" data-toggle="edit"
                ><i class="material-icons" data-toggle="tooltip" title="Edit"
                  >&#xE254;</i
                ></a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class="clearfix">
        <div class="hint-text">Showing <b>{{roomsList.length}}</b> entries</div>
      </div>
    
    </div>
  </div>

  