<div class="modal-dialog">
    <div class="modal-content">
      <form #roomsForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title">Edit Rooms</h4>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col">
                <label>Capacity</label>
                <input type="number" [(ngModel)]="rooms.capacity" name="capacity" class="form-control"  />
            </div>
          </div>
          <div class="row">
            <div class="col">
                <label>Maintenance Status</label>
                <select [(ngModel)]="rooms.maintenance_status" name="maintenance_status" required (change)="onMaintenanceStatusChange()">
                  <option value="" disabled selected>Select maintenance</option>
                  <option value="operational">operational</option>
                  <option value="under maintenance">under maintenance</option>
                  <option value="damaged">damaged</option>
              </select>
              <div *ngIf="roomsForm && roomsForm.controls['maintenance_status'] && roomsForm.controls['maintenance_status'].touched" class="text-danger">
                Maintenance Status is required.
            </div>
            </div>
            <div class="col">
              <label>State</label>
              <select id="state" [(ngModel)]="rooms.state" name="state" required 
                      [ngClass]="{ 'state-active': rooms.state === 'Enabled', 'state-inactive': rooms.state !== 'Disabled' }">
                <option value="" enabled selected>Select state</option>
                <option *ngFor="let state of states" [value]="state">{{state}}</option>
              </select>
              <div *ngIf="stateInvalid && roomsForm.controls['state'].touched" class="text-danger">
                State is required.
              </div>
            </div>          
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeDialog()">Back</button>
          <input type="submit" class="btn btn-success" value="Save" (click)="saveRooms()" [disabled]="roomsForm.invalid" />
        </div>
      </form>
    </div>
</div>
