<div class="container">
  <div class="row">
    <div class="insights">
      <div class="sales">
        <span class="fal fa-bar-chart"></span>
        <div class="middle">
            <div class="left">
                <h3>Total Sales</h3>
                <h1>$25,024</h1>
            </div>
            <svg>
                <circle cx='38' cy='38' r='36'></circle>
            </svg>
            
        </div>
        <small class="text-muted">Last 24 Hours</small>
      </div>
        <!----------------END OF SALES ------------>
        <div class="income">
            <span class="fal fa-line-chart"></span>
            <div class="middle">
                <div class="left">
                    <h3>Total Incomes</h3>
                    <h1>$25,024</h1>
                </div>
                <svg>
                    <circle cx='38' cy='38' r='36'></circle>
                </svg>
            </div>
            <small class="text-muted">Last 24 Hours</small>
          </div>
            <!----------------END OF SALES ------------>
            <div class="expense">
                <span class="fal fa-pie-chart"></span>
                <div class="middle">
                    <div class="left">
                        <h3>Total Expenses</h3>
                        <h1>$25,024</h1>
                    </div>
                    <svg>
                        <circle cx='38' cy='38' r='36'></circle>
                    </svg>
                </div>
                <small class="text-muted">Last 24 Hours</small>
            </div>
                <!----------------END OF SALES ------------>
            
            
    </div>
    
    <div class="charts">
        <div class="chart">
            <h2>Earnings (past 12 months)</h2>
            <canvas id="lineChart" ></canvas>
        </div>
        <div class="chart" id="doughunt-chart">
            <h2>Employees</h2>
            <canvas id="doughuntChart" ></canvas>
        </div>
    </div>
  </div>
</div>