<div class="container-xl px-4 mt-4">
    <div class="container">
    <!-- Account page navigation-->
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <img class="img-account-profile rounded-circle mb-2" id="profilePicture" src="assets/images/userphoto.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
                            <div >
                              <label>UserName</label>
                              <input type="text" [(ngModel)]="employee.username" name="username" class="form-control" disabled />
                            </div>
                            <div class="row">
                            <div class="col">
                              <label>First Name</label>
                              <input type="text" [(ngModel)]="employee.firstName" name="firstName" class="form-control" disabled />
                              
                            </div>
                            <div class="col">
                              <label>Last Name</label>
                              <input type="text" [(ngModel)]="employee.lastName" name="lastName" class="form-control" disabled />
                            </div>
                            </div>
                            <div class="col">
                                <label>Email<span class="required">*</span></label>
                                <input type="email" [(ngModel)]="employee.email" name="email" class="form-control"  />
                                
                              </div>  
                            <div class="row">
                            <div class="col">
                              <label>Phone Number<span class="required">*</span></label>
                              <input type="number" [(ngModel)]="employee.phoneNumber" name="phoneNumber" class="form-control" appNumbersOnly required 
                                     pattern="[0-9]{8}" title="Phone number must be 8 digits long"/>
                            </div>
                            <div class="col">
                              <label>Address<span class="required">*</span></label>
                              <input type="text" [(ngModel)]="employee.address" name="address" class="form-control"  />
                              
                            </div>
                            </div>

                          <input type="submit" class="btn btn-primary" value="Save changes" (click)="saveEmployee()" [disabled]="employeeForm.invalid" />
                      </form>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
</div>