body{margin-top:20px;
    background-color:#f2f6fc;
    color:#69707a;
    }
    .img-account-profile {
        height: 10rem;
    }
    .rounded-circle {
        border-radius: 50% !important;
    }
    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }
    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }
    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }
    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .btn-danger-soft {
        color: #000;
        background-color: #f1e0e3;
        border-color: #f1e0e3;
    }

    .nav-borders .nav-link.active,
    .nav-borders .nav-link:hover {
        color: #0061f2;
        border-bottom-color: #0061f2;
        cursor: pointer; /* Change cursor to pointer on hover */
    }
    .container {
        margin-top: -60px;
    }

    .message-container {
        position: fixed;
        right: 30px;
        top: 100px;
        padding: 15px;
        border-radius: 8px;
        color: white;
        background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Drop shadow */
        z-index: 9999; /* Ensure it's above other content */
        animation: slideInRight 0.5s ease-in-out forwards, fadeOut 3s 1s forwards; /* Animation for appearing and disappearing */
      }
      
      @keyframes slideInRight {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(0);
        }
      }
      
      @keyframes fadeOut {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      
      .message-container.success {
        background-color: rgba(40, 167, 69, 0.8); /* Green background for success messages */
      }
      
      .message-container.error {
        background-color: rgba(220, 53, 69, 0.8); /* Red background for error messages */
      }
      
      