<div class="container-xl px-4 mt-4">
    <div class="container">
      <div class="row" *ngIf="showSecuritySection">
        <div class="col-lg-8">
          <!-- Change password card-->
          <div class="card mb-4">
            <div class="card-header">Change Password</div>
            <div class="card-body">
                <form (ngSubmit)="changePassword()">
                    <!-- Form Group (current password)-->
                    <div class="mb-3">
                      <label class="small mb-1" for="currentPassword">Current Password</label>
                      <input class="form-control" id="currentPassword" type="password" placeholder="Enter current password" [(ngModel)]="currentPassword" name="currentPassword" required>
                    </div>
                    <!-- Form Group (new password)-->
                    <div class="mb-3">
                      <label class="small mb-1" for="newPassword">New Password</label>
                      <input class="form-control" id="newPassword" type="password" placeholder="Enter new password" [(ngModel)]="newPassword" name="newPassword" required>
                    </div>
                    <!-- Form Group (confirm password)-->
                    <div class="mb-3">
                      <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                      <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm new password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Save</button>
                  </form>
                  <div class="message-container" *ngIf="message" [ngClass]="{'success': isSuccess, 'error': !isSuccess}">
                    {{ message }}
                  </div>                  
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- Delete account card-->
          <div class="card mb-4">
            <img src="assets/images/photo.jpg" alt="Photo" class="img-fluid"> <!-- Add your photo here -->
          </div>
        </div>
      </div>
    </div>
  </div>
  