<div class="modal-dialog">
    <div class="modal-content">
        <form #equipmentsForm="ngForm">
            <div class="modal-header">
                <h4 class="modal-title">Add Equipments</h4>
                <button type="button" class="normal-close-button" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            
            <div class="modal-body">
                <div class="row" >
                    <div class="col">
                        <label>Name</label>
                        <input type="text" [(ngModel)]="equipments.name" name="name" class="form-control" />
                    </div>
                    <div class="col">
                        <label>SubCategory</label>
                        <select id="type" [(ngModel)]="equipments.type" name="type" required (ngModelChange)="checkFormValidity()">
                            <option value="" enabled selected>Select SubCategory</option>
                            <option *ngFor="let type of types" [value]="type">{{ type }}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Manufactuer</label>
                        <input type="text" [(ngModel)]="equipments.manufactuer" name="manufactuer" class="form-control" />
                    </div>
                    <div class="col">
                        <label>Model</label>
                        <input type="text" [(ngModel)]="equipments.model" name="modal" class="form-control" />
                    </div>
                </div>
                <div class="row">             
                    <div class="col">
                      <label>Price</label>
                      <input type="number" [(ngModel)]="equipments.price" name="price" class="form-control" />
                    </div>

                </div>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeDialog()">Back</button>
                <input type="submit" class="btn btn-success" (click)="saveEquipments()" value="Save" [disabled]="!checkFormValidity() || equipmentsForm.invalid" />
            </div>
        </form>
    </div>
  </div>
  