<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Equipments List</h2>
                </div>
                <div class="col-sm-6">
                    <a (click)="openAddEquipmentsModal()" class="btn btn-success">
                        <i class="material-icons">&#xE147;</i> <span>Add New</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="search-container">
            <input type="text" [(ngModel)]="searchText" (input)="search()" class="form-control" placeholder="Search...">
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Subcategory</th>
                        <th>Manufactuer</th>
                        <th>Model</th>
                        <th>Price</th>
                        <th>Maintenance Status</th>
                        <th>State</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let equipment of filteredEquipmentList">
                        <td>{{equipment.name}}</td>
                        <td>{{equipment.type}}</td>
                        <td>{{equipment.manufactuer}}</td>
                        <td>{{equipment.model}}</td>
                        <td>{{equipment.price}}</td>
                        <td>
                            <ng-container [ngSwitch]="equipment.maintenance_status">
                                <button *ngSwitchCase="'operational'" type="button" class="btn btn-outline-success">{{ equipment.maintenance_status }}</button>
                                <button *ngSwitchCase="'under maintenance'" type="button" class="btn btn-outline-warning">{{ equipment.maintenance_status }}</button>
                                <button *ngSwitchCase="'damaged'" type="button" class="btn btn-outline-danger">{{ equipment.maintenance_status }}</button>
                                <button *ngSwitchDefault type="button" class="btn btn-outline-primary">{{ equipment.maintenance_status }}</button>
                            </ng-container>
                        </td>                                               
                        <td>
                            <ng-container *ngIf="equipment.state === 'Enabled'; else inactiveButton">
                                <button type="button" class="btn btn-success">{{ equipment.state }}</button>
                            </ng-container>
                            <ng-template #inactiveButton>
                                <button type="button" class="btn btn-danger">{{ equipment.state }}</button>
                            </ng-template>
                        </td>
                        <td>
                            <a (click)="openAddEditEquipmentsModal(equipment.id, equipment)" class="edit" data-toggle="edit">
                                <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="hint-text" *ngIf="equipmentsList">
            Affichage de <b>{{equipmentsList.length}}</b> entrées
        </div>
    </div>
</div>
