<div class="dialog-header">
  <h1  class="title">Reservations Information</h1>
  <button class="close-icon" (click)="closeDialog()">&#x2715;</button>
</div>
<div mat-dialog-content>
  <ul class="employee-info">
    <li><strong>Username: </strong> <span class="username">{{ employee.username }}</span></li>
    <!-- Add other employee information here if needed -->
  </ul>

  <ng-container *ngIf="reservations.length > 0; else noReservations">
    <table class="reservation-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Reservation Name</th>
          <th>Benefit Subcategory</th>
          <th>Reservation State</th>
          <th>Reservation Depart Date</th>
          <th>Reservation Depart Hour</th>
          <th>Reservation Return Hour</th>
          <!-- Add other headers as needed -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{ reservation.id }}</td>
          <td>{{ reservation.name }}</td>
          <td>{{ reservation.subCategory }}</td>
          <td>{{ reservation.state }}</td>
          <td>{{ reservation.departDate }}</td>
          <td>{{ reservation.departHour }}</td>
          <td>{{ reservation.returnHour }}</td>
          <!-- Add other details as needed -->
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #noReservations>
    <p>No reservations</p>
  </ng-template>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button class="button-louta" (click)="closeDialog()">Close</button>
</div>
