
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> RESET PASSWORD </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/images/logo.jpg" id="icon" alt="User Icon" />
    </div>

    <form (ngSubmit)="resetPassword()">
      <div>
        <input id="login" class="fadeIn second" type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="New Password" required >
      </div>
      <button type="submit" >Confirm Password</button>
    </form>
    <div class="message-container" *ngIf="message" [ngClass]="{'success': isSuccess, 'error': !isSuccess}">
      {{ message }}
    </div>   
    <!-- Remind Password -->
    <div id="formFooter">
      <a class="underlineHover" href="#" routerLink="/login">Back to Login.</a>
    </div>
    
  </div>
</div>
